.container {
  max-width: 10vh;
  background: black;
  overflow: hidden;
}
.image__wrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid red;
}
.image__wrapper > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}