.container {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  grid-template-rows: 100px 300px 500px;
}
.test {
  background: black;
  min-width: 100px;
  min-height: 100px;
}
.test2 {
  background: blue;
  min-width: 100px;
  min-height: 100px;
}
.test3 {
  background: green;
  min-width: 100px;
  min-height: 100px;
}
.test4 {
  background: yellow;
  min-width: 100px;
  min-height: 100px;
}
.test5 {
  background: red;
  min-width: 100px;
  min-height: 100px;
}